.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  --color-primary: #00d4ff;
  --color-primary-dark: #00a8cc;
  --color-primary-light: #00e5ff;
  --color-glow-1: rgba(0, 212, 255, 0.5);
  --color-glow-2: rgba(0, 168, 204, 0.5);
  --color-glow-3: rgba(0, 212, 255, 0.25);
  --time-animation: 2s;
  --size: 1;
  position: relative;
  border-radius: 50%;
  transform: scale(var(--size));
  box-shadow: 0 0 25px 0 var(--color-glow-1), 0 20px 50px 0 var(--color-glow-2);
  animation: colorize calc(var(--time-animation) * 3) ease-in-out infinite;
}

.loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: solid 1px var(--color-primary);
  border-bottom: solid 1px var(--color-primary-dark);
  background: linear-gradient(180deg, var(--color-glow-3), var(--color-glow-2));
  box-shadow: inset 0 10px 10px 0 var(--color-glow-1),
    inset 0 -10px 10px 0 var(--color-glow-2);
}

.loader .box {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    180deg,
    var(--color-primary) 30%,
    var(--color-primary-dark) 70%
  );
  mask: url(#clipping);
  -webkit-mask: url(#clipping);
}

.loader svg {
  position: absolute;
}

.loader svg :global(#clipping) {
  filter: contrast(15);
  animation: roundness calc(var(--time-animation) / 2) linear infinite;
}

:global(#clipping polygon) {
  filter: blur(7px);
}

:global(#clipping polygon:nth-child(1)) {
  transform-origin: 75% 25%;
  transform: rotate(90deg);
}

:global(#clipping polygon:nth-child(2)) {
  transform-origin: 50% 50%;
  animation: rotation var(--time-animation) linear infinite reverse;
}

:global(#clipping polygon:nth-child(3)) {
  transform-origin: 50% 60%;
  animation: rotation var(--time-animation) linear infinite;
  animation-delay: calc(var(--time-animation) / -3);
}

:global(#clipping polygon:nth-child(4)) {
  transform-origin: 40% 40%;
  animation: rotation var(--time-animation) linear infinite reverse;
}

:global(#clipping polygon:nth-child(5)) {
  transform-origin: 40% 40%;
  animation: rotation var(--time-animation) linear infinite reverse;
  animation-delay: calc(var(--time-animation) / -2);
}

:global(#clipping polygon:nth-child(6)) {
  transform-origin: 60% 40%;
  animation: rotation var(--time-animation) linear infinite;
}

:global(#clipping polygon:nth-child(7)) {
  transform-origin: 60% 40%;
  animation: rotation var(--time-animation) linear infinite;
  animation-delay: calc(var(--time-animation) / -1.5);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes roundness {
  0% {
    filter: contrast(15);
  }
  20% {
    filter: contrast(3);
  }
  40% {
    filter: contrast(3);
  }
  60% {
    filter: contrast(15);
  }
  100% {
    filter: contrast(15);
  }
}

@keyframes colorize {
  0% {
    filter: hue-rotate(0deg);
  }
  20% {
    filter: hue-rotate(-30deg);
  }
  40% {
    filter: hue-rotate(-60deg);
  }
  60% {
    filter: hue-rotate(-90deg);
  }
  80% {
    filter: hue-rotate(-45deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
